body {
  background-color: #d64f67;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  color: #160e32;
}

.bg-dark {
  background-color: #ed5672 !important;
}

.heading .navbar-brand {
  color: #fbc599;
}

.heading .navbar-nav .nav-link {
  color: rgba(188, 207, 164, 0.8);
}

.heading .navbar-nav .nav-link:hover {
  color: #bccfa4;
}

.panel {
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 8px;
}

.panel h1 {
  color: #160e32;
  font-weight: 800;
  font-size: 2.2rem;
}

a {
  color: #9eae8a;
}

a:hover {
  color: #bccfa4;
  text-decoration: none;
}

.footer {
  padding-bottom: 32px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #bccfa4;
}

.tender-card .edit-btn {
  color: orange;
}

.tender-card .delete-btn {
  color: red;
}

.react-alerts .alert .message {
  text-transform: none;
}

.page-link {
  cursor: pointer;
}